---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

type Props = Record<string, never>;
---

<header>
  <nav>
    <Navigation />
    <Hamburger />
  </nav>
</header>
